{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Blackboard-Companion</title>
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet"/>

    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/login_register.css' %}">
</head>

<body>
<header></header>
<main style="background-image: url({% static 'img/login_background.png' %})">
    <div class="center-box">
        <div class="center-main">
            <div class="left">
                <img class="logo" src="{% static 'img/utd_logo.png' %}">
                <p class="logo-text">The University <br/>
                    of Texas at Dallas</p>
            </div>
            <form method="POST" class="right">
                {% csrf_token %}
                {% if next %}
                    <input type="hidde" name="next" value="{{ next }}">
                {% endif %}
                <label for="netid">NetID</label>
                <input type="text" name="netid" required/>

                <label for="password">Password</label>
                <input type="password" name="password" required/>

                <input type="submit" value="Login">
                <a class="bottom-button" href="{% url "register" %}">
                    <span>Register</span>
                </a>
            </form>
        </div>
    {% if messages %}
        <div class="errorbox">
            {% for msg in messages %}
                <p class="error-msg">{{ msg }}</p>
            {% endfor %}
        </div>
    {% endif %}
    </div>
</main>
<footer></footer>
</body>
</html>