body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

form {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
    margin: 0;
}

header {
    display: flex;
    flex: 0 0 7vh;
    justify-content: center;

    background-color: #E4701D;
}

header h1 {
    margin: 0;

    font-family: Libre Baskerville;
    font-style: normal;
    font-weight: normal;
    font-size: 10vw;
    line-height: 15vw;
    text-align: center;

    text-shadow: 0px 3vw 3vw rgba(0, 0, 0, 0.25);
}

main {
    flex: 1 1 0px;
    display: flex;
    padding: 1.5vh 3vw 1.5vh 3vw;
    flex-direction: column;
}

main label, #qr_reader, button, span {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 6vw;
    line-height: 8vw;
    margin: 1.5vh 0 .25vh 0;
}

main input, main select {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 6vw;
    line-height: 8vw;
}

.date-box {
    display: flex;
    align-content: stretch;
}

input {
    border-style: solid;
}

.button {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 3vw;
    line-height: 4vw;

    padding-top: 1.25vw;
    padding-bottom: 1.25vw;
    margin-bottom: 0.25vh;

    text-decoration: none;
    text-align: center;
    color: #FFFFFF;
    margin-top: .5vh;

    border-radius: 1.5vw;
}


footer {
    display: flex;
    flex: 0 0 7vh;
    justify-content: center;
    background-color: #009C3B;
}

.bottom-button {
    flex: 1 1 0px;
    margin: 1vh 5vw 1vh 5vw;

    font-size: 5vw;
    line-height: 7vw;
}

.back {
    background: #FF9933;
}

.save {
    background: #3366FF;
    border: 0;
}

.error-msg {
    padding: 1vh 3vw 1vh 3vw;
    border-radius: 1vh;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 4vw;
    line-height: 6vw;
    background: #FF5050;
}

.good-msg {
    padding: 1vh 3vw 1vh 3vw;
    border-radius: 1vh;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 4vw;
    line-height: 6vw;
    background: #50FF50;
}

.good-msg span {
    font-size: 2.5vw;
    line-height: 3.5vw;
}

#qr_reader {
    flex: 1 1 0;
}

li {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 3vw;
    line-height: 4vw;
}