{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Blackboard-Companion</title>
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet"/>

    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/classes.css' %}">
</head>

<body>
<header>
    <h1>Classes</h1>
</header>
<main>
    <ul class="class-list">
        {% for class in all_classes %}
            <li>
                <p>{{ class.courseName }} - {{ class.courseNumber }}.{{ class.sectionNumber }}</p>
                <div class="button-box">
                    <form onSubmit="alert('Not Implemented');return false;" ,
                          action="{% url 'Enrolled_Classes:classes' %}">
                        {% csrf_token %}
                        <input type="submit" value="Q&A">
                    </form>
                    <form onSubmit="alert('Not Implemented');return false;" ,
                          action="{% url 'Enrolled_Classes:classes' %}">
                        {% csrf_token %}
                        <input type="submit" value="Notes">
                    </form>
                    {% if group == "Professor" %}
                        <form method="POST" , action="{% url 'Enrolled_Classes:class_settings_view' class.id %}">
                            {% csrf_token %}
                            <input type="submit" value="Settings">
                        </form>
                    {% endif %}
                    <form method="POST" , action="{% url 'Enrolled_Classes:class_delete' class.id %}">
                        {% csrf_token %}
                        <input type="submit" value="Leave Class">
                    </form>

                </div>
            </li>
        {% endfor %}
    </ul>
</main>
<footer>
    <a href="{% url 'login' %}" class="button bottom-button logout">
        <span>
            Logout
        </span>
    </a>
    <a href="{% url 'Enrolled_Classes:class_add' %}" class="button bottom-button add">
        <span>
            Add
        </span>
    </a>
    <a href="{% url 'Enrolled_Classes:class_calendar' %}" class="button bottom-button calendar">
        <span>
            Calendar
        </span>
    </a>
</footer>
</body>
</html>
