{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Html Generated</title>
    <meta name="description" content="Figma htmlGenerator">
    <meta name="author" content="htmlGenerator">
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'attendance_professor/styles.css' %}">

    <style>
        /*
          Figma Background for illustrative/preview purposes only.
          You can remove this style tag with no consequence
        */
        body {
            background: #E5E5E5;
        }
    </style>

</head>

<body>
<div class=e5482_0>
    <div class=e5482_5>
        <div class="e5482_6"></div>
        <span class="e5482_7">Class Attendance</span></div>
    <div class=e5482_8>
        <div class=e5482_9>
            <div class=e5482_10>
                <div class="e5482_11"></div>
                <div class="e5482_12"></div>
                <div class="e5482_13"></div>
            </div>
            <div class=e5482_14>
                <div class="e5482_15"></div>
                <div class="e5482_16"></div>
                <div class="e5482_17"></div>
            </div>
            <div class=e5482_18>
                <div class="e5482_19"></div>
                <div class="e5482_20"></div>
                <div class="e5482_21"></div>
                <div class="e5482_22"></div>
            </div>
        </div>
        <div class=e5482_25>
            <div class=e5482_26>
                <div class="e5482_27"></div>
            </div>
        </div>
    </div>
    <div class="e5482_28"></div>
    <div class=e5482_29>
        <div class="e5482_30"></div>
        <div class="e5482_31"></div>
    </div>
    <div class="e5483_16"></div>
    <span class="e5483_17">dQw4w9WgXcQ</span>
    <div class="e5483_18"></div>
    <span class="e5486_0">CS 3354.004
Software Engineering
3/30/2021 @ 11:30am</span>
    <div class="e5486_2"></div>
    <div class="e5486_9"></div>
    <div class="e5486_4"></div>
    <div class="e5486_3"></div>
    <span class="e5486_7">Student List</span><span class="e5486_10">Present: 10</span><span
        class="e5486_11">Late: 2</span><span class="e5486_12">Absent: 5</span></div>
</body>
</html>