{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Blackboard-Companion</title>
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet"/>

    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>

<body>
<header></header>
<main>
    <div class="part top">
        <h1 class="title">
            <span class="p1">Blackboard</span><br/>
            <span class="p2">Companion</span>
        </h1>
    </div>
    <div class="part bottom">
        <div class="signin-button">
            <a href="/login">
                <span class="signin-text">Sign in</span>
            </a>
        </div>
    </div>
</main>
<footer></footer>
</body>
</html>