{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Take Attendance</title>
</head>
<body>
    <header>
        <h1>{{ class.courseName }} Attendance</h1>
    </header>
    <main>
        {% csrf_token %}
         <form name="Select_Meeting", method="GET">
             {% csrf_token %}
            <select name="meeting_dates" id="meeting_dates" onchange="this.form.submit()">
                <option value="" selected disabled hidden>{{ selected_option }}</option>
                {% for meeting in Meeting_Days %}
                    <option value="{{ meeting.meetingString }}">{{ meeting.meetingString }}</option>
                {% endfor %}
            </select>
        </form>
        {% if messages %}
            {% for msg in messages %}
                <p class="error-msg">{{ msg }}</p>
            {% endfor %}
        {% endif %}
        <label>Present: {{ present_count }}</label>
        <label>Late: {{ late_count }}</label>
        <label>Absent: {{ absent_count }}</label>
    </main>
    <footer>
        <a href="{% url 'Enrolled_Classes:classes' %}" class="button bottom-button back">
        <span>
            Back
        </span>
        </a>
        <button type="submit" class="button bottom-button save">Submit</button>
    </footer>
</body>
</html>