{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Take Attendance</title>
</head>
<body>
    {% if present %}
        <header>
            <h1>You were Marked Present for the {{ TodayDate }} meeting.</h1>
        </header>
    {% endif %}
    {% if late %}
        <header>
            <h1>You were Marked Late for the {{ TodayDate }} meeting.</h1>
        </header>
    {% endif %}
    {% if absent %}
        <header>
            <h1>You were Marked Absent for the {{ TodayDate }} meeting.</h1>
        </header>
    {% endif %}
    {% if not found and not present and not late and not absent%}
        <header>
            <h1>Did Not Find a Meeting Date for {{ TodayDate }}</h1>
        </header>
        <p>You are either too early for your class or the Professor needs to set the start and end dates.</p>
    {% endif %}
    {% if found and not present and not late and not absent%}

        <header>
            <h1>{{ class.courseName }} Attendance</h1>
        </header>
        <form role="form" method="GET">
        <main>
            <li>Present: Within 5 minutes before or after start of meeting time.</li>
            <li>Late: 5 minutes after starting time until 1 hour and 15 minutes after starting time.</li>
            <li>Absent: Over 1 hour and 15 minutes of starting time.</li>

                {% csrf_token %}
                    <label>Attendance Code:</label>
                    <input type="text" name="attendance_code">
                {% for message in messages %}
                    {% if message.tags == 'error' %}
                        <div class="alert alert-danger"
                             style="margin-top:10px">{{ message }}</div>
                    {% endif %}
                    {% if message.tags == 'info' %}
                        <div class="alert alert-danger"
                             style="margin-top:10px">{{ message }}</div>
                    {% endif %}
                {% endfor %}
        </main>
    {% endif %}
    <footer>
        <a href="{% url 'Enrolled_Classes:classes' %}" class="button bottom-button back">
        <span>
            Back
        </span>
        </a>
        {% if not present and not late and not absent %}
        <button type="submit" class="button bottom-button save">Submit</button>
        {% endif %}
    </footer>
</form>
</body>
</html>