.5475_149 { 
	overflow:hidden;
}
.e5475_149 { 
	background-color:rgba(255, 255, 255, 1);
	background-image:linear-gradient(0deg, rgba(255, 255, 255, 1) 0%,rgba(255, 255, 255, 0) 100%) ;
	width:375px;
	height:812px;
	position:absolute;
}
.e5475_154 { 
	width:375px;
	height:60px;
	position:absolute;
	left:0px;
	top:124px;
}
.e5475_155 { 
	background-color:rgba(247.00000047683716, 247.00000047683716, 249.00000035762787, 1);
	width:327px;
	height:52px;
	position:absolute;
	left:24px;
	top:4px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}
.e5475_156 { 
	color:rgba(0, 0, 0, 1);
	width:255px;
	height:31px;
	position:absolute;
	left:60px;
	top:15px;
	font-family:"baskerville-font";
	text-align:center;
	font-size:25px;
	letter-spacing:0;
}
.e5475_157 { 
	width:375px;
	height:44px;
	position:absolute;
	left:0px;
	top:0px;
}
.e5475_158 { 
	width:66.661376953125px;
	height:20.666584014892578px;
	position:absolute;
	left:293.6666564941406px;
	top:8.0001220703125px;
}
.e5475_159 { 
	width:24.32803726196289px;
	height:11.333333015441895px;
	position:absolute;
	left:42.333343505859375px;
	top:9.333251953125px;
}
.e5475_160 { 
	opacity:0.3499999940395355;
	width:22px;
	height:11.333333015441895px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:2.6666667461395264px;
}
.5475_160 { 
	border:1px solid rgba(36.00000165402889, 52.000000700354576, 67.00000360608101, 1);
}
.e5475_161 { 
	background-color:rgba(36.00000165402889, 52.000000700354576, 67.00000360608101, 1);
	opacity:0.4000000059604645;
	width:1.328037977218628px;
	height:4px;
	position:absolute;
	left:23px;
	top:3.6666667461395264px;
}
.e5475_162 { 
	background-color:rgba(36.00000165402889, 52.000000700354576, 67.00000360608101, 1);
	width:18px;
	height:7.333333492279053px;
	position:absolute;
	left:2px;
	top:1.9999998807907104px;
	border-radius:1.3333333730697632px;
}
.e5475_163 { 
	background-color:rgba(36.00000165402889, 52.000000700354576, 67.00000360608101, 1);
	width:15.27237606048584px;
	height:10.965571403503418px;
	position:absolute;
	left:22.027069091796875px;
	top:9.33056640625px;
}
.e5475_164 { 
	width:15.27237606048584px;
	height:4.743237495422363px;
	position:absolute;
	left:0px;
	top:-3.552713678800501e-15px;
}
.e5475_165 { 
	width:9.94901180267334px;
	height:3.6339809894561768px;
	position:absolute;
	left:2.663280963897705px;
	top:3.7940404415130615px;
}
.e5475_166 { 
	width:4.626293659210205px;
	height:3.3744072914123535px;
	position:absolute;
	left:5.3233723640441895px;
	top:7.591164588928223px;
}
.e5475_167 { 
	background-color:rgba(36.00000165402889, 52.000000700354576, 67.00000360608101, 1);
	width:17px;
	height:10.666666984558105px;
	position:absolute;
	left:0px;
	top:9.66650390625px;
}
.e5475_168 { 
	width:3px;
	height:4px;
	position:absolute;
	left:0px;
	top:6.666666507720947px;
}
.e5475_169 { 
	width:3px;
	height:6px;
	position:absolute;
	left:4.666666507720947px;
	top:4.666666507720947px;
}
.e5475_170 { 
	width:3px;
	height:8.333333015441895px;
	position:absolute;
	left:9.333333015441895px;
	top:2.3333332538604736px;
}
.e5475_171 { 
	width:3px;
	height:10.666666984558105px;
	position:absolute;
	left:14px;
	top:0px;
}
.e5475_174 { 
	width:54px;
	height:21px;
	position:absolute;
	left:21.000022888183594px;
	top:12px;
}
.e5475_175 { 
	width:54px;
	height:21px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:32px;
	border-top-right-radius:32px;
	border-bottom-left-radius:32px;
	border-bottom-right-radius:32px;
}
.e5475_176 { 
	background-color:rgba(36.00000165402889, 52.000000700354576, 67.00000360608101, 1);
	width:28.42616844177246px;
	height:11.0888671875px;
	position:absolute;
	left:12.4534912109375px;
	top:5.16748046875px;
}
.e5475_177 { 
	width:25px;
	height:25px;
	position:absolute;
	left:311px;
	top:67px;
	background-image:url(images/image_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e5475_178 { 
	width:50px;
	height:50px;
	position:absolute;
	left:30px;
	top:54px;
}
.e5475_179 { 
	width:50px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:69px;
	border-top-right-radius:69px;
	border-bottom-left-radius:69px;
	border-bottom-right-radius:69px;
	background-image:url(images/image_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e5475_180 { 
	border-radius:500px;
	background-color:rgba(45.00000111758709, 202.00000315904617, 140.00000685453415, 1);
	width:12px;
	height:12px;
	position:absolute;
	left:38px;
	top:38px;
}
.5475_180 { 
	border:2px solid rgba(255, 255, 255, 1);
}
.e5475_200 { 
	background-color:rgba(255, 255, 255, 0.75);
	width:130px;
	height:28px;
	position:absolute;
	left:34px;
	top:213px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e5475_204 { 
	background-color:rgba(255, 255, 255, 0.75);
	width:130px;
	height:28px;
	position:absolute;
	left:215px;
	top:213px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e5483_12 { 
	width:335px;
	height:502px;
	position:absolute;
	left:21px;
	top:278px;
}
.e5483_11 { 
	width:335px;
	height:502px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	background-image:url(images/rectangle_2206.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e5483_13 { 
	background-color:rgba(247.00000047683716, 247.00000047683716, 249.00000035762787, 1);
	width:310px;
	height:29px;
	position:absolute;
	left:33px;
	top:213px;
}
.e5483_15 { 
	background-color:rgba(247.00000047683716, 247.00000047683716, 249.00000035762787, 1);
	width:310px;
	height:29px;
	position:absolute;
	left:33px;
	top:213px;
}
.e5483_14 { 
	color:rgba(0, 0, 0, 1);
	width:217px;
	height:20px;
	position:absolute;
	left:74px;
	top:221px;
	font-family:"baskerville-font";
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}
